<form action='index.php?controleur=user&action={action}' method="POST">
    <div class="form-group">
    <p><label class="col-sm-2 col-form-label" for='id'>id :</label> <input class="form-control" name='id' id="id" type='text' value='{id}' readonly></p>
    <p><label class="col-sm-2 col-form-label" for='pseudo'>pseudo :</label> <input class="form-control" name='pseudo' id="pseudo" type='text' value='{pseudo}'></p>
    <p><label class="col-sm-2 col-form-label" for="password">password :</label> <input class="form-control" name='password' id="password" type='text' value='{password}'></input></p>
    <p><label class="col-sm-2 col-form-label" for="prenom">prenom :</label> <input class="form-control" name='prenom' id="prenom" type='text' value='{prenom}'></input></p>
    <p><label class="col-sm-2 col-form-label" for="nom">nom :</label> <input class="form-control" name='nom' id="nom" type='text' value='{nom}'></input></p>
    <p><button class="btn btn-success" type="submit">Valider</button></p>
</div>
</form>