<form action='index.php?controleur=security&action=login' method="POST">
    <div class="form-group">
    <p><label class="col-sm-2 col-form-label" for='pseudo'>pseudo :</label> <input class="form-control" name='pseudo' id="pseudo" type='text'></p>
    <p><label class="col-sm-2 col-form-label" for="password">password :</label> <input class="form-control" name='password' id="password" type='password'></input></p>
    <p><button class="btn btn-success" type="submit">Valider</button></p>
</div>
</form>