<div class="justify-content">
	<div class="col-sm-12 col-md-4 offset-md-4">
		<form action="index.php?controller=security&action=login" method="POST">
			<div class="form-group">
				<label for='username'>Username:</label>
				<input type="text" id='username' name="username" class="form-control">
			</div>
			<div class="form-group">
				<label for='password'>Password:</label>
				<input type="password" id='password' name="password" class="form-control">
			</div>
			<div class="form-group">
				<input type="submit" class='btn btn-primary' value='Se connecter'>
			</div>
		</form>
	</div>
</div>
